{% extends 'app/base.html' %}
{% load static %}
{% block content_banggia %}
<main class="container mx-auto mt-6 px-6 flex flex-col lg:flex-row">
    <div class="lg:w-3/4">
     <h2 class="text-orange-600 text-xl font-bold">
      Bảng giá dịch vụ làm răng mới nhất 2024
     </h2>
     <p class="mt-2 text-gray-700">
      Với mong muốn khẳng định chất lượng, dịch vụ và tạo lòng tin bền vững với khách hàng, Nha Khoa Kim xây dựng chính sách bảng giá dịch vụ nha khoa hợp lý với nhiều mức giá rõ ràng cho từng dịch vụ điều trị khác nhau. Đến với Nha Khoa Kim, khách hàng sẽ được thăm khám miễn phí và nhận các thông tin tư vấn trực tiếp từ các bác sĩ giàu kinh nghiệm. Bảng giá được thông tin chi tiết, rõ ràng, giúp khách hàng dễ dàng lựa chọn trong việc lựa chọn, yên tâm điều trị.
     </p>
     <div class="overflow-x-auto mt-6">
      <table class="min-w-full bg-white border border-gray-300">
       <thead>
        <tr class="bg-blue-900 text-white">
         <th class="py-2 px-4 border">
          *
         </th>
         <th class="py-2 px-4 border">
          DỊCH VỤ
         </th>
         <th class="py-2 px-4 border">
          ĐVT
         </th>
         <th class="py-2 px-4 border">
          GIÁ DỊCH VỤ VND (Giá chưa bao gồm Thuế GTGT)
         </th>
         <th class="py-2 px-4 border">
          Thuế GTGT
         </th>
        </tr>
       </thead>
       <tbody>
        <tr class="bg-gray-100">
         <td class="py-2 px-4 border">
         </td>
         <td class="py-2 px-4 border font-bold">
          TỔNG QUÁT
         </td>
         <td class="py-2 px-4 border">
         </td>
         <td class="py-2 px-4 border">
         </td>
         <td class="py-2 px-4 border">
         </td>
        </tr>
        <tr>
         <td class="py-2 px-4 border">
         </td>
         <td class="py-2 px-4 border">
          Khám tổng quát
         </td>
         <td class="py-2 px-4 border">
          Lần
         </td>
         <td class="py-2 px-4 border">
          Miễn phí
         </td>
         <td class="py-2 px-4 border">
          KCT
         </td>
        </tr>
        <tr class="bg-gray-100">
         <td class="py-2 px-4 border">
         </td>
         <td class="py-2 px-4 border font-bold">
          ĐIỀU TRỊ NHA CHU
         </td>
         <td class="py-2 px-4 border">
         </td>
         <td class="py-2 px-4 border">
         </td>
         <td class="py-2 px-4 border">
         </td>
        </tr>
        <tr>
         <td class="py-2 px-4 border">
         </td>
         <td class="py-2 px-4 border">
          Cạo vôi răng
         </td>
         <td class="py-2 px-4 border">
          2 Hàm
         </td>
         <td class="py-2 px-4 border">
          400.000
         </td>
         <td class="py-2 px-4 border">
          KCT
         </td>
        </tr>
        <tr>
         <td class="py-2 px-4 border">
         </td>
         <td class="py-2 px-4 border">
          Điều trị viêm nha chu Cấp 1-2
         </td>
         <td class="py-2 px-4 border">
          Răng
         </td>
         <td class="py-2 px-4 border">
          300.000 - 1.000.000
         </td>
         <td class="py-2 px-4 border">
          KCT
         </td>
        </tr>
        <tr class="bg-gray-100">
         <td class="py-2 px-4 border">
         </td>
         <td class="py-2 px-4 border font-bold">
          ĐIỀU TRỊ NỘI NHA
         </td>
         <td class="py-2 px-4 border">
         </td>
         <td class="py-2 px-4 border">
         </td>
         <td class="py-2 px-4 border">
         </td>
        </tr>
        <tr>
         <td class="py-2 px-4 border">
         </td>
         <td class="py-2 px-4 border">
          Điều trị tủy
         </td>
         <td class="py-2 px-4 border">
          Răng
         </td>
         <td class="py-2 px-4 border">
          500.000 - 2.000.000
         </td>
         <td class="py-2 px-4 border">
          KCT
         </td>
        </tr>
        <tr>
         <td class="py-2 px-4 border">
         </td>
         <td class="py-2 px-4 border">
          Điều trị tủy lại
         </td>
         <td class="py-2 px-4 border">
          Răng
         </td>
         <td class="py-2 px-4 border">
          2.000.000 - 3.000.000
         </td>
         <td class="py-2 px-4 border">
          KCT
         </td>
        </tr>
        <tr>
         <td class="py-2 px-4 border">
         </td>
         <td class="py-2 px-4 border">
          Chốt sợi không kim loại mức 1-2
         </td>
         <td class="py-2 px-4 border">
          Răng
         </td>
         <td class="py-2 px-4 border">
          700.000 - 1.100.000
         </td>
         <td class="py-2 px-4 border">
          KCT
         </td>
        </tr>
        <tr class="bg-gray-100">
         <td class="py-2 px-4 border">
         </td>
         <td class="py-2 px-4 border font-bold">
          TRÁM RĂNG
         </td>
         <td class="py-2 px-4 border">
         </td>
         <td class="py-2 px-4 border">
         </td>
         <td class="py-2 px-4 border">
         </td>
        </tr>
        <tr>
         <td class="py-2 px-4 border">
         </td>
         <td class="py-2 px-4 border">
          Trám răng sữa
         </td>
         <td class="py-2 px-4 border">
          Răng
         </td>
         <td class="py-2 px-4 border">
          200.000
         </td>
         <td class="py-2 px-4 border">
          KCT
         </td>
        </tr>
        <tr>
         <td class="py-2 px-4 border">
         </td>
         <td class="py-2 px-4 border">
          Trám răng thẩm mỹ
         </td>
         <td class="py-2 px-4 border">
          Răng
         </td>
         <td class="py-2 px-4 border">
          500.000
         </td>
         <td class="py-2 px-4 border">
          KCT
         </td>
        </tr>
        <tr>
         <td class="py-2 px-4 border">
         </td>
         <td class="py-2 px-4 border">
          Trám cổ răng
         </td>
         <td class="py-2 px-4 border">
          Răng
         </td>
         <td class="py-2 px-4 border">
          600.000
         </td>
         <td class="py-2 px-4 border">
          KCT
         </td>
        </tr>
        <tr class="bg-gray-100">
         <td class="py-2 px-4 border">
         </td>
         <td class="py-2 px-4 border font-bold">
          NHỔ RĂNG
         </td>
         <td class="py-2 px-4 border">
         </td>
         <td class="py-2 px-4 border">
         </td>
         <td class="py-2 px-4 border">
         </td>
        </tr>
        <tr>
         <td class="py-2 px-4 border">
         </td>
         <td class="py-2 px-4 border">
          Nhổ răng sữa
         </td>
         <td class="py-2 px-4 border">
          Răng
         </td>
         <td class="py-2 px-4 border">
          100.000
         </td>
         <td class="py-2 px-4 border">
          KCT
         </td>
        </tr>
        <tr>
         <td class="py-2 px-4 border">
         </td>
         <td class="py-2 px-4 border">
          Nhổ chân răng, răng lung lay
         </td>
         <td class="py-2 px-4 border">
          Răng
         </td>
         <td class="py-2 px-4 border">
          300.000
         </td>
         <td class="py-2 px-4 border">
          KCT
         </td>
        </tr>
        <tr>
         <td class="py-2 px-4 border">
         </td>
         <td class="py-2 px-4 border">
          Nhổ răng cửa R1-2-3
         </td>
         <td class="py-2 px-4 border">
          Răng
         </td>
         <td class="py-2 px-4 border">
          500.000
         </td>
         <td class="py-2 px-4 border">
          KCT
         </td>
        </tr>
        <tr>
         <td class="py-2 px-4 border">
         </td>
         <td class="py-2 px-4 border">
          Nhổ răng nhiều chân R4-5-6-7
         </td>
         <td class="py-2 px-4 border">
          Răng
         </td>
         <td class="py-2 px-4 border">
          800.000
         </td>
         <td class="py-2 px-4 border">
          KCT
         </td>
        </tr>
       </tbody>
      </table>
     </div>
    </div>
    <aside class="lg:w-1/4 lg:pl-6 mt-6 lg:mt-0">
     <h3 class="text-blue-900 text-lg font-bold">
      TIN MỚI NHẤT
     </h3>
     <ul class="mt-4 space-y-4">
      <li class="flex items-start space-x-4">
       <img alt="News image 1" class="w-20 h-20 object-cover" height="100" src="https://storage.googleapis.com/a1aa/image/QYYjU7aE8eQPIyiW1XXbeLqxxEoeeouMSpSxyQeRpeYlYDnfJA.jpg" width="100"/>
       <a class="text-blue-900 hover:underline" href="#">
        Nha Khoa Kim biết ơn tình cảm đặc biệt của khách hàng
       </a>
      </li>
      <li class="flex items-start space-x-4">
       <img alt="News image 2" class="w-20 h-20 object-cover" height="100" src="https://storage.googleapis.com/a1aa/image/2ZyFTDHXfw3tUSv2QDdSHVVRlzdyU1Cfit6eRkcRPVP7a48nA.jpg" width="100"/>
       <a class="text-blue-900 hover:underline" href="#">
        Nha Khoa Kim hân hạnh đồng hành cùng học sinh Đại học Harvard trong dự án Field Global Immersion
       </a>
      </li>
      <li class="flex items-start space-x-4">
       <img alt="News image 3" class="w-20 h-20 object-cover" height="100" src="https://storage.googleapis.com/a1aa/image/D5lX8aA8edzcDKD8mYPaunYO6Bzgz3eJDCtWnMJ8cWPhNcenA.jpg" width="100"/>
       <a class="text-blue-900 hover:underline" href="#">
        Chính thức ra mắt Zalo App Nha Khoa Kim với nhiều tiện ích mới
       </a>
      </li>
      <li class="flex items-start space-x-4">
       <img alt="News image 4" class="w-20 h-20 object-cover" height="100" src="https://storage.googleapis.com/a1aa/image/Pcug2bPPrUp4J9BRmQP9WM3tItxIiTHGrYqwAgUMuSevGOfTA.jpg" width="100"/>
       <a class="text-blue-900 hover:underline" href="#">
        Nha Khoa Kim đột phá công nghệ cấy ghép Implant Straumann Thụy Sỹ
       </a>
      </li>
      <li class="flex items-start space-x-4">
       <img alt="News image 5" class="w-20 h-20 object-cover" height="100" src="https://storage.googleapis.com/a1aa/image/OvpmPpHeJOTJY68ouIfvPm9M468Je8YwTKJb3w3JSkH2a48nA.jpg" width="100"/>
       <a class="text-blue-900 hover:underline" href="#">
        Những con số cực ấn tượng của Hành trình răng hạnh phúc tháng 10
       </a>
      </li>
     </ul>
    </aside>
   </main>
{% endblock content_banggia %}