{% extends 'app/base.html' %}
{% load static %}
{% block content_gioithieu %}
<a  class="btn btn-outline-dark" href="{% url 'home' %}">&#x2190; Quay lại</a>
<div class="border-t mt-4"></div>
<main class="container mx-auto mt-8 px-6">
    <h2 class="text-3xl text-orange-500 font-bold">Nha Khoa Kim – Đối tác toàn cầu của Đại học Harvard</h2>
    <div class="bg-blue-900 text-white p-4 mt-4">
        <p>
            Nha Khoa Kim là đối tác toàn cầu của ĐH Harvard, được chính phủ Singapore đầu tư tài chính, đạt chất lượng
            <span class="font-bold">ISO 9001:2015 Vương Quốc Anh</span> và
            <span class="font-bold">GCR Hoa Kỳ</span>, hoạt động dựa trên các tiêu chí của Tổ Chức Y tế Thế giới, Liên Đoàn Nha Khoa Thế Giới và sứ mệnh dẫn dắt sự thay đổi theo hướng tích cực với mục tiêu phát triển bền vững của Liên Hiệp Quốc.
        </p>
    </div>
    <p class="mt-4">
        Nha Khoa Kim thành lập ngày 10 tháng 9 năm 2016, là thương hiệu độc quyền được bảo hộ trên toàn lãnh thổ Việt Nam. Được xây dựng khang trang, ứng dụng công nghệ hiện đại, hướng đến những người dân xa trung tâm thành phố vẫn không bị bỏ rơi, họ cũng có cơ hội hưởng được những dịch vụ nha khoa chuyên nghiệp, đúng chuẩn và hiện đại gần ngay nơi mình sinh sống.
    </p>
</main>
<main class="container mx-auto py-8 px-6">
    <section class="mb-8">
     <h2 class="text-xl font-bold text-blue-900">
      I. SỨ MỆNH
     </h2>
     <p class="mt-2">
      Nha Khoa Kim: “Kiến tạo hệ sinh thái Nha Khoa cực kỳ đơn giản. Phụng sự con người nhanh nhất trên mọi miền đất nước”.
     </p>
    </section>
    <section class="mb-8">
     <h2 class="text-xl font-bold text-blue-900">
      II. TẦM NHÌN
     </h2>
     <p class="mt-2">
      Nha Khoa Kim đến năm 2025: “Là chuỗi phòng nha khoa uy tín Việt Nam bởi sự phục vụ tận tâm, chuyên môn giỏi và thẩm mỹ cao bằng việc vận hành cực kỳ đơn giản với tinh thần phụng sự khách hàng.”
     </p>
    </section>
    <section class="mb-8">
     <h2 class="text-xl font-bold text-blue-900">
      IV. GIÁ TRỊ CỐT LÕI
     </h2>
     <p class="mt-2">
      của mỗi thành viên Nha Khoa Kim chính là 5 giá trị y đức phải được thực hành và rèn luyện suốt đời bao gồm:
      <span class="font-bold">
       Không gây hại; Trung thực; Tôn trọng quyền tự quyết; Làm tốt và Công bằng
      </span>
     </p>
    </section>
    <section class="mb-8">
     <h2 class="text-xl font-bold text-blue-900">
      V. Ý NGHĨA LOGO
     </h2>
     <p class="mt-2">
      Nha Khoa Kim được hình thành từ các viên kim cương sắp xếp hòa quyện nhau, thể hiện sự cứng chắc, sang trọng, tài sản giá trị và liên kết vững bền.
     </p>
    </section>
    <section class="border border-blue-900 p-4 rounded">
     <h2 class="text-xl font-bold text-blue-900">
      VI. Nội Dung Chính
     </h2>
     <ul class="list-decimal list-inside mt-4 space-y-2">
      <li>
       Nha Khoa Kim đạt nhiều chứng nhận quốc tế
      </li>
      <li>
       Đảm bảo phòng nha tránh lây nhiễm chéo với hệ thống thanh trùng một chiều, 4 test kiểm định
      </li>
      <li>
       Nha khoa kỹ thuật số với trang thiết bị, máy móc hiện đại
      </li>
      <li>
       Nha Khoa Kim lấy người tài làm hạt nhân
      </li>
      <li>
       Lab sản xuất răng sứ của hệ thống Nha Khoa Kim đạt tiêu chuẩn chất lượng ISO 13485:2016 Vương Quốc Anh
      </li>
      <li>
       Đa dạng dịch vụ nha khoa với chi phí và chính sách bảo hành rõ ràng
      </li>
      <li>
       Tác động tích cực của Nha Khoa Kim được tổ chức tài chính thuộc chính phủ Singapore phỏng vấn
      </li>
     </ul>
    </section>
   </main>

{% endblock content_gioithieu %}
