{% extends 'app/base.html' %}
{%  load static %}
{% block banner_slider %}

<div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src=" {% static 'app/images/1.webp' %} " class="d-block w-100" alt="..." height="500">
        <div class="carousel-caption d-none d-md-block bg-success text-white">
          <h5>"Sức khỏe răng miệng là chìa khóa mở ra nụ cười tự tin."</h5>
          <p></p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{% static 'app/images/a.webp' %}" class="d-block w-100" alt="..." height="500" >
        <div class="carousel-caption d-none d-md-block bg-success text-white">
          <h5>"Thăm khám nha khoa định kỳ – bí quyết để giữ hàm răng khỏe mạnh suốt đời."</h5>
          <p></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'app/images/b.webp' %}" class="d-block w-100" alt="..." height="500">
        <div class="carousel-caption d-none d-md-block bg-success text-white">
          <h5>"Răng khỏe, nụ cười đẹp – cùng bạn chinh phục mọi thử thách trong cuộc sống."</h5>
          <p></p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br /><br /><br />
{% endblock banner_slider %}
{% block main-content %}
<div class="row">
   <div class="col-lg-3">
    <img class="thumbnail" src="{% static 'app/images/ngrang.webp' %}">
    <div class="box-element product">
      <h6><strong>Niềng răng thẩm mỹ</strong></h6>
      <hr>

      <button class="btn btn-outline-secondary add-btn">Đánh giá </button>
      <a class="btn btn-outline-success" href="#">Xem</a>
      <h4 style="display: inline-block; float: right"><strong> 200.000VND/gói  </strong></h4>
    </div>
  </div>
  <div class="col-lg-3">
    <img class="thumbnail" src="{% static 'app/images/rangtrong.webp' %}">
    <div class="box-element product">
      <h6><strong>Niềng răng trong suốt </strong></h6>
      <hr>

      <button class="btn btn-outline-secondary add-btn">Đánh giá </button>
      <a class="btn btn-outline-success" href="#">Xem</a>
      <h4 style="display: inline-block; float: right"><strong> 500.000VND/gói  </strong></h4>
    </div>
  </div>
  <div class="col-lg-3">
    <img class="thumbnail" src="{% static 'app/images/nhorang.webp' %}">
    <div class="box-element product">
      <h6><strong>Nhổ răng khôn</strong></h6>
      <hr>

      <button class="btn btn-outline-secondary add-btn">Đánh giá </button>
      <a class="btn btn-outline-success" href="#">Xem</a>
      <h4 style="display: inline-block; float: right"><strong> 100.000VND/răng  </strong></h4>
    </div>
  </div>
  <div class="col-lg-3">
    <img class="thumbnail" src="{% static 'app/images/rangsu.webp' %}">
    <div class="box-element product">
      <h6><strong>Bọc răng sứ</strong></h6>
      <hr>

      <button class="btn btn-outline-secondary add-btn">Đánh giá </button>
      <a class="btn btn-outline-success" href="#">Xem</a>
      <h4 style="display: inline-block; float: right"><strong> 800.000VND/gói</strong></h4>
    </div>
  </div>
</div>
<br /><br /><br />
{% endblock main-content%} 